@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}
@media screen and (max-width:991px) {
    #lab_video_text_wrap {
        height: 300px;
    }
}
@media screen and (max-width:650px) {
    #lab_video_text_wrap {
        height: 250px;
    }
    #lab_video_text_overlay h2 {
        font-size: 2em;
    }
    #lab_video_text_overlay p {
        font-size: .9em;
    }
}
@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}
@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}
@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto;
    }
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
@media (max-width:768px){
    .about .container{padding-left: 0px; padding-right: 0px;}
    .about .about-box{margin-top: 50%;}
    .about .about-box .row{padding-right: 15px; padding-left: 15px;}
    .about img{width: 90%;}
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (max-width: 700px){
    .modal-content2 {
        width: 100%;
    }
}
@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
    .section{width:104%;}
    .menu-items{padding-left:0;}
}
@media (max-width: 767px){
    .header .topmenu .col-xs-4,
    .header .topmenu .col-xs-3,
    .header .topmenu .col-xs-5{padding: 0% !important}
    .header .topmenu .col-xs-5{padding-right: 3% !important}
    .header .topmenu .margin{margin-top: -15%;margin-right: 21%;}
    .header .navbar-brand img{margin-left: -50%}
    .header .navbar-collapse ul{margin-top: 30px}
    .header .navbar-collapse li{width: 100%; text-align: right}
    .contact .soshiyal .flaticon{font-size: 20px}
    .contact .col-md-4{padding-right:50px; padding-left: 0px }
    .contact .col-md-5 img{margin-left: 40px}
    .footer{margin-top: 10px}
    .footer .col-md-offset-4 img{margin-left: 130px}
    .register .well{width: 100% !important}
    .contact-information span {font-size: 25px; margin: 10px;}
    .login{margin-top: 40%}
    .login .col-md-6{margin: auto}
    .login .btn-default{margin-top: -15%;}
    .header .container{width: 100%; margin-left: 0% !important;padding: 0%}
    .header .col-md-3,
    .header .col-md-6,
    .header nav.navbar-findcond{padding: 0%}
    .header .col-md-3 .btn-default{width: 100%;font-size: 8px;padding: 11% 0%;margin-top: 10%;}
    .header .left{padding-left: 8%}
    .header .center #navbar{padding-top: 90%}
    .contact .soshiyal .flaticon{margin-left: 0%}
    .category .box:hover .imgBox img{opacity: unset;transform: inherit;}
    .category .col-md-5{margin-top: 2%}
    .category{margin-top:0%}
    .category .text-box{background: #010221;}
    .category .text-box .col-xs-6 h2{color: #c9aa50; font-size: 13px; margin: 9% 0%;}
    .category .text-box .col-xs-6{padding: 0% 0%; text-align: center}
    .category .text-box .left{padding-left:9% }
    .category .text-box .right .btn-success{margin: 5% 0% 0% 0%;}
    .header .topmenu li{font-size: 8px}
    .header .topmenu p{font-size: 8px}
    .header .topmenu .right { padding: 0% 18% !important;}
    .header .topmenu .left{padding-right: 5%}
    .header .topmenu .col-xs-6{padding: 0%}
    .header .topmenu .left li{margin-right: 0%;width: 264%}
    .footer h4{font-size: 10px}
}
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }

}
@media (min-width:320px) and (max-width: 480px) {
    .swiper-wrapper .glyphicon-play-circle{
        font-size: 35px;
        right: 36%;
        top: 27%;
    }
    .swiper-wrapper h2{
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}
@media (max-width:768px){
    .none-mobile{display: none}
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:999;
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #d0ad56;
    display: block;
    transition: 0.3s;
    text-align: right
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 36px;
    margin-left: 0px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }