.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12{
    float:right !important
}
.header .navbar-nav>li{float: right;}
.header .bottommenu .navbar-nav{float: right}
.register .el-form-item__label{float: right;direction: rtl}
.register .el-form-item__content{float: left; margin-left:0% !important;width: 80%;text-align: right !important;}
.register .el-form-item.is-error .el-input__inner{text-align: right !important}
.el-input__inner{text-align: right !important;}
.el-input__suffix{right:100% !important;transition: all .3s;}
@font-face {
    font-family: sans;
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff2'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
body{
    font-family: sans;
}
.btn{font-family: sans;}

.preview .product-title{
    text-align: center
}
.about p{text-align: right;direction: rtl;}

p{text-align: center}
h3{text-align: center}
h4{text-align: center}
h5{text-align: center}

.contact-information p{text-align: center}

.form-group{text-align: right;}

.box-content p{text-align: center}

.slide-two {text-align: center}

.col-sm-affset-3{text-align: right}

.form-control{text-align: right}

.profile-usermenu ul li{text-align: right}

.footer .barcode {float:left !important}