.pa-0{padding: 0%}
.pa-1{padding: 1%}
.pa-2{padding: 2%}
.pa-3{padding: 3%}
.pa-4{padding: 4%}
.pa-5{padding: 5%}
.pt-1{padding-top: 1%}
.pt-2{padding-top: 2%}
.pt-2-5{padding-top: 2.5%}
.pt-3{padding-top: 3%}
.pt-4{padding-top: 4%}
.pt-5{padding-top: 5%}
.px-1{padding-left: 1%;padding-right: 1%}
.px-2{padding-left: 2%;padding-right: 2%}
.px-3{padding-left: 3%;padding-right: 3%}
.px-4{padding-left: 4%;padding-right: 4%}
.px-5{padding-left: 5%;padding-right: 5%}
/*start nav*/
.opasiti{background: rgba(1, 2, 33, 0.5);border-bottom: 1.5px dashed #bd9a46;}
.opasiti-1{background:rgba(1, 2, 33, 0.75);border-bottom: 1.5px dashed #bd9a46;}
.w100{width:100%}
.header .navbar-nav > li {margin-right:10px;}
.header .topmenu{color: #010221; background: rgba(189, 154, 70, 1);width: 100%}
.header .topmenu .right{padding: 0% 9% !important;}
.header .topmenu a{color:#010221;text-decoration: none }
.header .topmenu a:hover{color: #fff}
.header .topmenu li{margin-right:2% }
.header .topmenu .col-md-1,
.header .topmenu .col-md-2,
.header .topmenu .col-md-3,
.header .topmenu .col-md-4,
.header .topmenu .col-md-5{padding: 0%;text-align: center}
.header .topmenu p{margin-bottom: 0%}
.header .topmenu li{display: inline;float: right;}
.header .topmenu li{font-weight: inherit;}
.header .topmenu .center{padding-right:0px}
.header .topmenu .left li{margin-right: 50%}
.header .topmenu .center-2{text-align: left}
.input-newsletter{  border: 1px solid #c2c2c4; width: 70%; margin-left: 15%;}
.header .bottommenu{padding:1.5% 0%;}
.header .navbar-brand{padding: 15px 0px !important}
.header .bottommenu nav .navbar-findcond{ background: #fff; border-bottom:2px dashed #be9b3f; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #be9b3f; }
nav.navbar-findcond ul.navbar-nav a { color: #c9aa50; border-style: solid; border-width: 0 0 2px 0;font-size:14px }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #be9b3f; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #be9b3f; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #be9b3f; color: #fff; }
nav.navbar-findcond span.badge { background: #be9b3f; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
/* nav.navbar-findcond{background:#010221;border-bottom: 1.5px dashed #bd9a46;opacity: 0.3;} */
nav.navbar-findcond ul.navbar-nav a{borde:none !important;border-style:none !important}
.navbar-fixed-top .navbar-collapse{padding: 5px 0px 0px 0px}
.col-md-5 .btn-default { color: #c9aa50; background-color:transparent; border-color: #c9aa50; margin-top: 6.5px; border-radius: 0px;}
.header .col-md-5 .btn-default{border: 1px solid;padding: 1% 5%;}
.header .col-md-5 .btn-default:hover{color: #010221; background: #dab762;transition: all .5s ease-in-out}
.header .btn-log:hover{transition: all .4s ease-in-out;color: #fff}
.header .left{padding:0%}
.header .left ul{padding: 0%}
.header .left li{display: inline;}
.header .left .right-box{padding-left:0% }
.header .left .left-box{padding-right:0% }
.navbar-brand>img {
    display: block;
}
/*end nav*/

/*start regster*/

.input-lg{
    border-radius: 1px;
}

.register{
    margin-top: 5%;
    margin-bottom: 5%;
    /* background: #fff; */
}

legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #c9aa50, #b1924c);
    background-image: linear-gradient(to bottom, #c9aa50, #c9aa50);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #c9aa50 1px;
    text-decoration: none;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }


.login .btn{
    background-color: #a3802d;
    border-color: #a3802d;
    border-radius: 0px;
    color: #fff;}

.login{
    width: 100%;
    margin-top: 8%;
    padding-top: 10px;
}
.loginheading{
    text-align: center;
    margin-bottom: 30px;
}
.loginbottomtext{
    text-align: center;
    margin-top: 20px;
}
.pagecontainer{
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 20px;
    margin-right: 20px;

}
.pageheader {
    width: 100%;
    height: 60px;
    background-color: #ff6800;
    margin: 0;
    padding: 0;
}
.menubutton{
    color: white;
    background-color: #ff6800;
    border: 0px solid transparent;
    font-size: 20pt;
    margin-top: 10px;
}
.pagetitle{
    color: white;
    margin: 10px;
}
.contentheight{
    height: 300px;
}
/*end regster*/

/*start slider*/

.jk-slider{
    width:100%;
}
.slider{margin-top:0px}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/*end slider*/

/*start category*/

.content .btn{
    border: none;
    background-color: #c9aa4f;
}
.category .col-md-6{padding: 1% !important}
.category h2{font-weight: bold}
.box {
    position:relative;

    float:left;
    width: 98%;
    box-sizing:border-box;
    overflow:hidden;
}
.box:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleX(0);
    opacity:0;
}
.box:hover:before {
    transform:scaleX(1);
    opacity:1;
}
.box:after {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleY(0);
    opacity:0;
}
.box:hover:after {
    transform:scaleY(1);
    opacity:1;
}
.box .imgBox {
    position:relative;
}
.box .imgBox img {
    width:100%;
    transition:0.5s;
}
.box:hover .imgBox img {
    opacity:.2;
    transform:scale(1.2);
}
.box .content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
.box .content h2 {
    margin: 0 0 10px;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;

}
.box .content p {
    margin:0;
    padding:0;
    color:#fff;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
}
.box:hover .content h2,
.box:hover .content P {
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}
/* .category{margin-top:15px} */
.category .col-md-7,
.category .col-md-5,
.category .col-md-4{padding: 0px;}
.category .col-md-5 .box{width: 96%; margin-left: 15px}
.category .col-md-4{margin-top: 7px}
.category h2{font-family: sans;}
/*end category*/
/*start category.php*/

.category .col-md-4 .margin{
    margin: 3px
}

.category2{
    margin-top: 80px;
}

.swiper-container2 {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.media{
    margin-bottom: 10px;
    margin-top: 0px;
}

.media h3{font-family: sans;}
/*end media*/


/*start media hidden-md*/
.swiper-container3 {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider img{width:100%}
/*end media hidden-d*/

/*start video*/
/* .video .swiper-slide{height: 800px;} */
.video h3{font-family: sans;}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
    background-color: transparent;
}

#lab_video_text_overlay h2 {
    font-size:4em
}

#lab_video_text_overlay .btn {
    border-radius:0;
    text-transform:uppercase;
    font-weight:200;
}
#lab_video_text_overlay .btn-warning {
    background-color:#F5D328;
}

#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay h2 {
    font-size: 4em;
}
#lab_video_text_overlay .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 200;
}
#lab_video_text_overlay .btn-warning {
    background-color: #F5D328;
}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
    z-index:99;
}



/*end video*/

/*start contact*/

.contact h3{font-family: sans;}
.contact .form-group input{
    border-radius: 0px;
    border: 1px solid #a3802d;
}

.contact .form-group textarea{
    border-radius: 0px;
    border: 1px solid #a3802d;
}

.contact .col-md-6 h3{
    color: #c7a100;
    text-align: center;
    margin-top:0px;
}

.contact .col-md-4 p{
    color: #000;
    text-align: center;
}

.contact{
    background: #ebebed;
    padding: 2% 0%;
}
.contact .container{padding: 0%}
.contact .col-md-8{padding: 0%;}
.contact .soshiyal a{text-decoration: none}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
    border: 1px solid #c2c2c4;
}
.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #ececee;
    color: #000;
    border-radius: 4px;
}
input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
    0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
    0 1px 1px 0 rgba(0,0,0,0.09);
}
input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #333;
    font-style: normal;
}

.contact-information .col-md-6{
    width: 100%
}

.contact .col-md-5 img{
    width: 75%;
}

.col-md-6 .soshiyal a{
    color: #c1c1c3;
    font-size: 50px;

}
.contact .flaticon{
    /* border: 2px solid #c2c2c4; */
    margin-left: 3%;
    padding: 0px 10px;
}
.btn-koosha{background: transparent;}
.btn-koosha:hover{color: #bd9a46;transition: .5s}
.btn-koosha .flaticon{font-size: 30px}
.contact a:hover{color:#bd9a46;transition: .4s}
/*end contact*/

/*start footer*/

.footer h4{font-family: sans;}
.footer{background: #011341;}
.footer img{
    margin-top:10%;
    margin-bottom:10%;
}
.footer h4{
    text-align: center;
    color:#c9aa50;
    font-size: 15px;
    margin-bottom: 5%;
}
.footer a{color: #fff; text-decoration: none}
.footer a:hover{color: #c9aa50 }

/*end footer*/

/*start contact.php*/

/* .contact-information p {
    margin-top: 8%;
}
.map{margin-top: 108px}
.contact-2 a:hover{color: #bd9a46}
.submit{
    background:#a3802d;
    color:#FFF;
    border:none;
    border-radius:0;
    margin-bottom: 10px;
    float: left;
}

.contact-information span{
    font-size: 30px;
    margin: 20px;
    color: #c1c1c3;
} */

/*Contact sectiom*/
#contact{margin-top: 108px}
.contact-2 .content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}
.contact-2 .section-content{
    text-align: center;
}
.contact-2 #contact{
    font-family: 'Teko', sans-serif;
    width: 100%;
    color : #fff;
}
.contact-2 .map{margin-top: 0% !important}
.contact-2 .map iframe{
    width: 100%;
    height: 350px;
}
.contact-2 p{direction: rtl}
.contact-2 .contact-section{
    padding-top: 40px;
}
.contact-2 .contact-section .col-md-6{
    width: 50%;
}
.contact-2 .form-line{
    border-left: 1px solid #B29999;
}
.contact-2 .form-group{
    margin-top: 10px;
}
.contact-2 label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
    direction: rtl
}
.contact-2 .form-control{
    font-size: 1.3em;
    color: #080808;
    border-radius:0px;
    border-color:#e3c06d;
}
.contact-2 textarea.form-control {
    min-height: 181px;
}
.contact-2 .submit{
    font-size: 1.1em;
    float: left;
    width: 150px;
    background-color: transparent;
    color: #000;
    border-radius:0px;
    border-color:#e3c06d;
    background: #e3c06d
}
.contact-2 .information .col-md-3,
.contact-2 .information .col-md-6{text-align: center}
.contact-2 li{display: inline}
.contact-2 .information .glyphicon{font-size: 30px}
.contact-2 .information .glyphicon:hover{color: #e3c06d}
/*end contact.php*/

/*start gallery.php*/
.gallery{
    /* margin-top:9%; */
    margin-bottom:1%;
    text-align: center
}

.gal-container2{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box2{
    /* height: 350px; */
    overflow: hidden;
}
.box2 img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
/*end gallery.php*/

/*start about.php*/
.about .box {
    background:#cba850;
    transition:all 0.2s ease;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 1px;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height:340px;
}
.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.box .box-content p {
    color:#515c66;
    text-transform:none;
}
hr{border-top: 2px solid #dab762;}
.about{
    /* margin-top: 108px; */
    text-align: right;
    direction: rtl;
}
.about .container .about-box{border: 2px solid #dbb85b;padding: 3% 7%}
.about .container{padding-right: 50px;padding-left: 50px;}
/*end about.php*/

/*start product.php*/
.card img {
    max-width: 100%; }
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }
.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }
.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
.checked, .price span {
    color: #c9aa50; }
.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
.product-title {
    margin-top: 0; }
.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #c9aa50;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

.product{
    /* margin-top: 8%; */
    margin-bottom: 3%;
    background: transparent
}

.action .btn{
    border: none;
    background-color: #c9aa4f;
}


/*# sourceMappingURL=style.css.map */

/*end product.php*/

/*start product-list1*/

/* .product-list1{
    margin-top: 130px;
} */

.glyphicon {
    margin-right:5px;
    font-size: 25px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
/* .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
} */

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: transparent;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: right;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
    text-align: right;
}
.lead{text-align: right}
.form-control{
    width:100%;

}

.btn-group .btn{
    border: none;
    background-color:#fff;
}
.well-sm {
    padding: 9px 0px 0px;
}
/* element {
} */
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.col-xs-12 .btn-success{
    color: #fff;
    background-color:#caa950;
    border-color: none;
}

.btn-success{
    border-color: none;
}

/*end product-list1*/

/*start profile*/

/* Profile container */
.profile {
    margin: 20px 0;
    margin-top: 4%;
}

.profile .profile-usertitle img{
    margin-top: -20px;
    width: 35%;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #010221;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #c9aa50;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #010221;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #010221;
    background-color: #f6f9fb;
    border-left: 2px solid #010221;
    margin-left: -2px;
}


/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
}
/*end profile*/

/*custom*/
.logo{margin-top:-30px}
.margin-right-10{margin-right:10px}
.margin-left-10{margin-left:10px}
body{background: #eeeeee}
/*custom*/
.container{width:90% ;margin-left:5%}
.navbar-header{float: right}



.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23dac06c'%2F%3E%3C%2Fsvg%3E");
    left: 40px;
    right: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23dac06c'%2F%3E%3C%2Fsvg%3E");
    right: 40px;
    left: auto;
}
.swiper-pagination-bullet-active{background:#dac06c }
.swiper-pagination-bullet{width:18px;height:18px}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 30px
}
.swiper-pagination-bullet{
    opacity: 0.9;

}


.imgBarcode{
    width:24%;
    margin-left:38%;
}

.nav > li > a:focus, .nav > li > a:hover{
    background: none !important;
    color: #bd9a46 !important;
    transition: all .4s ease-in-out;
}

.product-list1 .thumbnail img{margin: 10px;width: 95%;}
.product-list1  .btn-group-sm > .btn, .btn-sm{
    font-size:29px;
    color:#c9aa50;

}

.product-list1 .col-xs-12 .btn-success{float:left}
.product-list1 .list-group {
    padding-left: 0;
    margin-bottom: 20px;
    background: transparent;
    padding: 10px 0px;
}
.list-group-item-heading{color:#c9aa50;padding-bottom:10px;text-align: right;}

.btn-group, .btn-group-vertical{float:left}

.btn-success {border:1px solid #c9aa50;border-radius:0px; background-color:#c9aa50; }
.textHead{text-align: left;padding-top:10px}

/**/
.product #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.product #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.product #myImg:hover {opacity: 0.7;}
.product #myImg2:hover {opacity: 0.7;}


/* The Modal (background) */
.product .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 30px;
    top: 18%;
    width: 100%;
    height: 100%;
    overflow: auto;
}.product .modal2 {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 5%;
     left: 30px;
     top: 18%;
     width: 100%;
     height: 100%;
     overflow: auto;
 }

/* Modal Content (image) */
.product .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}
.product .modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
.product #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.product .modal-content, .product #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.product .modal-content2, .product #caption2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/**/

/* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 85px;
    color: #010221;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}.close-2 {
     position: absolute;
     top: 30px;
     right: 85px;
     color: #010221;
     font-size: 45px;
     font-weight: bold;
     transition: 0.3s;
 }

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.close-2:hover,
.close-2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

/*custom*/
.register .well{width: 100%;border: 1px solid #a3802d; border-radius: 0px;padding: 5% 10%;}
.register .form-control{border: 1px solid #a3802d; border-radius: 0px; background-color: #eeeeee}
.register .btn-primary{background-color:#a3802d; border-color: #a3802d; border-radius: 0px;}
.register .form-check-input{border-color:#a3802d;}
.register .well label{float: right; color: #011341; padding-top:3%;}
.register .form-check .form-check-input{width: 7%; border-color: #a3802d;float:right;margin-top: 3%}
.register .form-check-label{margin-right: 10px}
.register .well .btn-primary a{color:#fff}
.profile li{direction: rtl}
.profile .btn-success{border:0px; color:#011341}
.profile .btn-danger{border:0px; border-radius: 0px; color:#011341; background-color: #c9aa50;}
.contact .soshiyal {margin-left: 0px;text-align: center}
.btn-success:hover{background: #ae8c29;border-color:#ae8c29}
.contact .soshiyal img{width:36%;padding: 4%;border: 2px solid;margin-right: 2%;border-radius:0px;}
.register .col-xs-6{padding: 0% 5%}

/* ul > li{margin-right:25px;font-weight:lighter;cursor:pointer} */

.item-photo{display:flex;justify-content:center;align-items:center;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-success{border-radius:0;}
.section{width:100%;padding:2px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;text-align:right;font-size:18px;padding-bottom:10px}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;direction:rtl;text-align:right}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{margin-right:5px;width:50px;font-size:17px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}
.product .col-md-6 {float:right;}
.proIner{padding:10px;width:100%;}
.proIner img{width:100%}
.width100{width:100%}
.nav > li > a{padding:10px 5px }
.detPro .nav-tabs > li{float:right}

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 35px;

}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 1px;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #d9b23d;
    background: #caa950;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #ae8c29;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #ae8c29;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    color:rgb(228, 172, 4)d !important;
    background: #eee
}

/* Main carousel style */
.carousel {
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    position: initial;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    left: 0;
    width: 101px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 1;
}
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
.comment-list .comment-post {
    margin-top: 6px;}

.swiper-wrapper .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.swiper-wrapper a {
    color:#eee }
.swiper-wrapper  a:hover .glyphicon-play-circle{
    color:#eee !important;
    opacity:1;
    text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.swiper-wrapper .duration{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #eee !important;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition:all 500ms ease;
}
.swiper-wrapper > li > a:hover .duration{
    background-color:#eee !important;
}
/*  */

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
    background: #CCDBDC;
    color:#003366;
}
.chat .chat-history .me-message {
    background: #C9AA50;
}
.chat .chat-history .me-message:after {
    border-color: #f9f9f9 transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.you {
    color: #CCDBDC;
}

.me {
    color: #E9724C;
}
.formComment {
    font-family: sans;
    direction: rtl;
}

.sans {font-family: sans;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    color:#333 !important;
    background: #C9AA50 ; color:#fff
}

h1, h2, h3, h4, h5, h6 {
    color: #003366;
}
.register .el-input__inner{border-radius:0px;border-color:#a3802d;background-color:#eeeeee }
.register .el-form{border: 1px solid #a3802d; padding: 4% 4% 0%;margin-bottom: 2%;background-color: #f5f5f5}
.register .el-button--primary{background-color:#a3802d;border-radius:0px;border-color:#a3802d;width:100%}
.register .el-button--primary:hover{background-color: #a3802d;border-color:#a3802d}
/* .contact-2 .container{padding: 8% 5% 0%} */

/*** product-detail ***/
.product .glass-case * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    border: 0;
}
.product .glass-case *:before, .glass-case *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.product .glass-case {
    position: relative;
}
/*********************DISPLAY***************************/
.product .gc-display-area {
    position: absolute;
    overflow: hidden;
    border: 2px solid #F5F5F5;
    padding: 2px;
    background-color: #fff;
}
.product .gc-display-container {
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.product .gc-display-display {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    cursor: crosshair;
    opacity: 1;
}
/*********************LENS***************************/
.product .gc-lens {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    cursor: crosshair;
    background: #CECECE;
    opacity: .5 !important; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50) !important; /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5;
}
/*********************ZOOM***************************/
.product .gc-zoom {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1040 !important;
    border: 2px solid #f5f5f5;
    padding: 2px;
    background-color: #fff;
    right: 500px;
}
.product .gc-zoom-inner {
    cursor: crosshair;
    border: 0 !important;
    left: -2px !important;
    top: -2px !important;
    margin: 0 !important;
    z-index: 1010 !important;
}
.product .gc-zoom-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.product .gc-zoom-container img {
    position: relative;
    max-width: none !important;
}
/*********************CAPTION**********************/
.product .gc-caption-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 2px;
    z-index: 1050 !important;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 1.6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #333;
    font-size: 0.9em;
}

.product .gc-caption-container div {
    position: relative;
    padding: 0 12px 0 12px;
}
.product .gc-caption-intop {
    left: 0;
    top: 0;
}
.product .gc-caption-inbottom {
    left: 0;
    bottom: 0;
}
.product .gc-caption-outtop, .gc-caption-outbottom {
    width: 100%;
    width: calc(100% + 4px);
    border: 2px solid #f5f5f5;
    background: #fff;
}
.product .gc-caption-outtop {
    top: 0;
    left: -2px;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}
.product .gc-caption-outbottom {
    bottom: 0;
    left: -2px;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}
.product .product .gc-alignment-center {
    text-align: center;
}
.product .gc-alignment-left {
    text-align: left;
}
.product .gc-alignment-right {
    text-align: right;
}
/*********************UL***************************/
.product .gc-thumbs-area {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}
.product .gc-thumbs-area-prev,
.product .gc-thumbs-area-next {
    position: absolute;
    z-index: 1010;
}
.product .gc-thumbs-area.gc-hz .gc-thumbs-area-prev,
.product .gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 5%;
}
.product .gc-thumbs-area.gc-vt .gc-thumbs-area-prev,
.product .gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 5%;
}
.product .gc-thumbs-area.gc-hz .gc-thumbs-area-prev {
    left: 0;
}
.product .gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    right: 0;
}
.product .gc-thumbs-area.gc-vt .gc-thumbs-area-prev {
    top: 0;
}
.product .gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    bottom: 0;
}
.product .gc-thumbs-area-prev:hover, .gc-thumbs-area-next:hover {
    opacity: 1;
    cursor: pointer;
    cursor: hand;
}
.product .gc-thumbs-area-prev .gc-disabled,
.product .gc-thumbs-area-next .gc-disabled,
.product .gc-thumbs-area-prev .gc-disabled:hover,
.product .gc-thumbs-area-next .gc-disabled:hover {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}
.product .glass-case ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.product .glass-case ul li {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid #f5f5f5;
    padding: 2px;
    background-color: #fff;
}
.product .gc-thumbs-area.gc-hz li {
    display: inline;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-right: 5px;
}
.product .gc-thumbs-area.gc-vt li {
    margin-bottom: 5px;
}
.product .glass-case ul li .gc-li-display-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.product .glass-case ul li:hover {
    border-color: #4f4f4f;
    cursor: pointer;
    cursor: hand;
}
.product .glass-case ul li.gc-active, .glass-case ul li.gc-active:hover {
    border-color: #669966;
    cursor: default;
}
.product .glass-case ul li .gc-li-display-container img {
    position: relative;
    top: 50%;
    left: 50%;
}
/*********************OVERLAY***************************/
.product .gc-overlay-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647 !important;
    background-color: rgb(204, 204, 204); /*the falback for ie7, ie8*/
    background-color: rgba(51, 51, 51, 0.95);
}

.product .gc-overlay-gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.product .gc-overlay-container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.product .gc-overlay-container-display {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.product .gc-ocd-top {
    top: 0;
}

.product .gc-ocd-bottom {
    bottom: 0;
}

.product .gc-overlay-fit {
    padding: 4em 5.5em 1em 5.5em;
    overflow: hidden;
}

.product .gc-overlay-display {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    cursor: crosshair;
}

.product .gc-overlay-display-center {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product .gc-overlay-display-vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product .gc-overlay-display-hcenter {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.product .gc-overlay-top-icons {
    position: absolute;
    top: 0;
    padding: 1em 1.5em 1em 0;
    width: 100%;
    height: 4em;
}

.product .gc-overlay-left-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 1em 0 1.5em;
    height: 100%;
    width: 5.5em;
}

.product .gc-overlay-right-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em 0 1em;
    height: 100%;
    width: 5.5em;
}
/*********************ICONS***************************/

@font-face {
    font-family: "linea-arrows-10";
    src: url("../fonts/linea-arrows-10.eot");
    src: url("../fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-arrows-10.woff") format("woff"), url("../fonts/linea-arrows-10.ttf") format("truetype"), url("../fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
    font-weight: normal;
    font-style: normal;
}

.product .gc-icon:before {
    line-height: 1;
}

.product .gc-icon {
    font-family: "linea-arrows-10" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    z-index: 1020;
    cursor: pointer;
    cursor: hand;
    color: #fff;
    opacity: .7; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7;
    height: 1em;
    width: 1em;
    line-height: 0;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid #F5F5F5;
}
.product .gc-icon:hover {
    opacity: 1; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 5-7 */
    filter: alpha(opacity=100); /* Netscape */
    -moz-opacity: 1; /* Safari 1.x */
    -khtml-opacity: 1;
}

.product .gc-disabled .gc-icon:hover,
.product .gc-disabled .gc-icon:hover,
.product .gc-disabled .gc-icon, .gc-disabled .gc-icon {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}
/* *** ICON NEXT *** */
.gc-icon-next {
    top: 50%;
    right: -2px;
}

.product .gc-icon-next:before {
    position: absolute;
    top: -2px;
    right: 6px;
    content: ">";
    color: #000 !important;
    background: #fff;
}

.product .gc-icon-next-vt {
    bottom: 0;
    left: 50%;
}

.product .gc-icon-next-vt:before {
    position: absolute;
    top: -2px;
    left: -2px;
    content: "\e019";
}

.product .gc-display-area .gc-icon-next {
    font-size: 2em !important;
}

.product .gc-thumbs-area-next .gc-icon-next {
    right: 0;
    font-size: 2em !important;
}

.product .gc-thumbs-area-next .gc-icon-next-vt {
    font-size: 1.5em !important;
}

.product .gc-overlay-area .gc-icon-next {
    position: relative;
    right: 0;
    font-size: 3em;
}
/* *** ICON PREV *** */
.product .gc-icon-prev {
    top: 50%;
    left: -2px;
}

.product .gc-icon-prev:before {
    position: absolute;
    top: -2px;
    left: 6px;
    content: "<";
    color: #000;
    background: #fff;
}

.product .gc-icon-prev-vt {
    top: 0;
    left: 50%;
}

.product .gc-icon-prev-vt:before {
    position: absolute;
    top: -2px;
    left: -2px;
    content: "\e083";
}

.product .gc-display-area .gc-icon-prev {
    font-size: 2em !important;
}

.product .gc-thumbs-area-prev .gc-icon-prev {
    font-size: 2em !important;
}

.product .gc-thumbs-area-prev .gc-icon-prev-vt {
    font-size: 1.5em !important;
}

.product .gc-overlay-area .gc-icon-prev {
    position: relative;
    left: 0;
    font-size: 3em;
}
/* *** ICON DOWNLOAD *** */
.product .gc-icon-download {
    right: -2px;
    bottom: 0;
    font-size: 2em;
    overflow: hidden;
}

.product .gc-icon-download:before {
    position: absolute;
    top: -4px;
    left: -2px;
    content: "\e064";
}
/* *** ICON CLOSE *** */
.product .gc-icon-close {
    position: relative;
    font-size: 2em;
    float: right;
}

.product .gc-icon-close:before {
    position: absolute;
    content: "\e04a";
    top: -2px;
    right: -2px;
}

.product .gc-icon-enlarge {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

.product .gc-icon-enlarge:before {
    position: absolute;
    content: '\e017';
    top: -2px;
    right: -2px;
}

.product .gc-icon-compress {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

.product .gc-icon-compress:before {
    position: absolute;
    content: '\e053';
    top: -2px;
    right: -2px;
}
/*********************LOADING***************************/
.product .gc-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 31px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(../images/loader.gif);
}

.product .gc-loading3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 0.25em;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(102, 153, 102, 0.2);
    border-right: 1.1em solid rgba(102, 153, 102, 0.2);
    border-bottom: 1.1em solid rgba(102, 153, 102, 0.2);
    border-left: 1.1em solid #669966;
    -webkit-animation: loadGC 1.1s infinite linear;
    animation: loadGC 1.1s infinite linear;
}

.product .gc-loading3,
.product .gc-loading3:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

@-webkit-keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************GENERAL***************************/
.product .gc-hide {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}

.product .gc-noscroll {
    overflow: hidden;
}

.product .gc-start {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}


/*** suooort ***/

/** Feedback modal */
.suooort .btn-primary {background-color: #be9b3f;border-color: #be9b3f}
.suooort .btn-primary:hover{color: #000;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.suooort .feedbackmodal-container {
    padding: 30px;
    max-width: 100%;
    width: 100% !important;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}
.suooort .feedbackmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.suooort .feedbackmodal-container input[type=submit] {
    width: 25%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    background: #be9b3f;
    border-radius: 0px;
}

.suooort .feedbackmodal-container input[type=text],
.suooort input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.suooort .feedbackmodal-container input[type=text]:hover,
.suooort input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.suooort .feedbackmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.suooort .feedbackmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #114c69;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

.suooort .feedbackmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #114c69;
}

.suooort .feedbackmodal-container a {
    text-decoration: none;
    color: #004a6f;
    font-weight: bold;
    text-align: justify;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.suooort .feedbackmodal-container .feedbackTypeDropdown {
    height: 44px;
    padding: 0 5px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.suooort .feedbackmodal-container .feedbackTypeDropdown:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.suooort .feedbackmodal-container .feedbackDescription {
    border-radius: 0px;
    min-height: 150px;
    margin-bottom: 10px;
    resize: vertical;
}

.suooort .feedbackmodal-container .feedbackDescription:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.suooort .feedback-help {
    font-size: 12px;
}

/** Button ajax loader */
.suooort .ajaxLoader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0c69a7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: ajaxLoaderSpin 1s linear infinite;
}

@keyframes ajaxLoaderSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** End of Feedback modal */
.login .left{float: left;}
.login .right{float: right;}

.fixed{
    position: fixed
}

.sidenav a:hover {
color: #064579;
}

.category .left-t a{font-size: 11px;color: #000;text-align: right;width: 100%}
.category .left-t a:hover{text-decoration: none;color: #bd9a46;transition: all .4s ease-in-out}
.category .left-t li{display: block;line-height: 2;margin: 0%;text-align: right}
.category .left-t ul{padding:0% 9.5%}
.category .right-t h3{text-align: right !important;padding: 0% 3% 0% 0%}
.category .left-t img{width:4%;transform: rotate(180deg);}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
  /* .hovereffect:hover .overlay {
    background-color:rgba(189, 154, 70, 0.5);
  } */
  
  .hovereffect img {
    width: 100%;
    display: block;
    position: relative;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 0% 0 0 0;
    padding: 11% 44% 11%;
  }
  
  /* .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */
  
  /* .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  } */

.contact ul li{display: inline;margin-left: 4%}
.contact ul{padding:0% 34%}

.category .sidebar {
    float: right;
    right:15px;
    width: 19%;
}
.category .content {
    float: left;
    width: 80%;
}
.category .footer {
    clear: both;
    margin-top: 10px;
    border: 1px solid #000000;
    height: 820px;
}


.panel panel-default-small{
width:250px;
}
.panel-title{
font-size:14px;}
.list-group-item{
width:200px;
}
.fa-chevron-right{
color:#0088cc;}
.list-group-item{
    display:block;
    margin-left:40px;
}
.list-group-item librePanelListGroupItem{
    padding-left:30px;
}
.dropbtn {
    background-color: transparent;
    color: #c8a94f;
    padding: 9px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:-600px;
    right: -500px;
}
.dropdown-content .col-md-3{width:20%;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content::before{
    content: "";
    border-bottom:15px solid #f1f1f1;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -14px;
    left:50%;
    z-index: 10;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.header .dropdown-content .text-center{padding:6% 0% 0%}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    text-align: center;
    float: none;
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin: 10px;
    width: 30%;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
    width: 60%;
}
.item.list-group-item .caption
{
    float: right;
    width: 60%;
    margin: 0;
    padding: 4% 2%;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.el-select{width: 100%}

.proIner .dropdown-toggle, .proIner .dropdown-menu, .proIner .btn-group { width:100% }
.btn-group img { margin-right: 10px;width: 20%; }
.dropdown-toggle { padding-right:20px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
.size .radio-inline{padding: 0px 5px 0px 40px;margin: .5% 2%;border: 0.5px solid #999;border-radius: 10px;}
.color-r .radio-inline{padding: 0px 0px 0px 5px;border: 0.5px solid #000 !important;border-radius: 10px;}
.color-r img{width: 50px;height: 50px;border-radius: 10px;}
.comments-container {
	margin: 60px auto 15px;
	width:100%;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
    position: relative;
    padding: 0%;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	right: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	right: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	right:40px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: right;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 700px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    margin: 1% 6%;
}

.comments-list .comment-box:before {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	right: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 0px 11px 13px;
	border-color: transparent rgba(0,0,0,0.05);
	right: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: left;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: right;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: right;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}