    /*
    Flaticon icon font: Flaticon
    Creation date: 24/07/2019 10:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-call-answer:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-telegram:before { content: "\f103"; }
.flaticon-home-icon-silhouette:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }
.flaticon-magnifier:before { content: "\f106"; }
.flaticon-shopping-purse-icon:before { content: "\f107"; }
.flaticon-edit:before { content: "\f108"; }
.flaticon-power-button-off:before { content: "\f109"; }
.flaticon-user:before { content: "\f10a"; }
.flaticon-log-in:before { content: "\f10b"; }
.flaticon-arrow:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }
.flaticon-up-arrow:before { content: "\f110"; }
    
    $font-Flaticon-call-answer: "\f100";
    $font-Flaticon-envelope: "\f101";
    $font-Flaticon-instagram: "\f102";
    $font-Flaticon-telegram: "\f103";
    $font-Flaticon-home-icon-silhouette: "\f104";
    $font-Flaticon-right-arrow: "\f105";
    $font-Flaticon-magnifier: "\f106";
    $font-Flaticon-shopping-purse-icon: "\f107";
    $font-Flaticon-edit: "\f108";
    $font-Flaticon-power-button-off: "\f109";
    $font-Flaticon-user: "\f10a";
    $font-Flaticon-log-in: "\f10b";
    $font-Flaticon-arrow: "\f10c";
    $font-Flaticon-next: "\f10d";
    $font-Flaticon-back: "\f10e";
    $font-Flaticon-down-arrow: "\f10f";
    $font-Flaticon-up-arrow: "\f110";