	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/07/2019 10:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
}

.flaticon-call-answer:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-telegram:before { content: "\f103"; }
.flaticon-home-icon-silhouette:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }
.flaticon-magnifier:before { content: "\f106"; }
.flaticon-shopping-purse-icon:before { content: "\f107"; }
.flaticon-edit:before { content: "\f108"; }
.flaticon-power-button-off:before { content: "\f109"; }
.flaticon-user:before { content: "\f10a"; }
.flaticon-log-in:before { content: "\f10b"; }
.flaticon-arrow:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }
.flaticon-up-arrow:before { content: "\f110"; }